.wrapper{
    display: flex;
    width: 100%;
}


.blockRigth{
    width: 500px;
}

.blockLeft{
    width: 700px;
}

.photo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photoTitle{
}

.photo img{
    width: 150px;
}